<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script charset="utf-8" src="/bower_components/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
    <h1>CREEPYBOT</h1>

    <p>
      Type a message in the input field and click "Speak".
      Creepybot will speak the message out loud in a creepy robot voice
    </p>
      <form class="" id="speak">
        <div class="form-group form-group-large">
          <input type="text" name="message" value="I AM CREEPYBOT!! BEEP BOOP!" class="form-control">
        </div>
        <div class="form-group form-group-large">
          <input type="submit" value="Speak!" class="btn btn-block btn-lg btn-primary">
        </div>
      </form>
    </div>
    <script charset="utf-8" src="/javascripts/main.js"></script>
  </body>
</html>
