<!DOCTYPE html>
<html>
  <head>
    <title>Rightmove Support</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script charset="utf-8" src="/bower_components/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to rightmove support</h1>

    <p>
      Aks a question in the field below. (Make sure you have your sound turned on!)
    </p>
      <form class="" id="speak">
        <div class="form-group form-group-large">
          <input type="text" name="message" value="How do I save my current search ?" class="form-control input-lg">
        </div>
        <div class="form-group form-group-large">
          <input type="submit" value="Help!" class="btn btn-block btn-lg btn-primary">
        </div>
      </form>
    </div>
    <audio src="http://tts-api.com/tts.mp3?q=hello" id="player"></audio>
    <script charset="utf-8" src="/javascripts/main.js"></script>
  </body>
</html>
